<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= "Create a New Topic Below" %></h1>

<form action="/topics" method="POST">
  <h3><label for="name">Name: </label>
  <input type="text" id="name" name="name"/>
  <br><br>

  <input type="submit" value="Create Topic"/>
</form>