<h2><%= "Questions About: #{@topic.name}" %></h2>

<ul>
<% @questions.each do |question| %>
  <li><a href=<%= "/questions/#{question.id}" %>><%= "#{question.prompt}" %></a></li>
<% end %>
</ul>

