<h1><%= "Welcome, #{@teacher.username.upcase}!" %></h1>

<h2>Navigate by Student:</h2>
<ul>
<% @teacher.students.each do |student| %>
  <li><%= "#{student.first_name} #{student.last_name}" %></li>
<% end %>
</ul>

<h2>Navigate by Topic:</h2> 
<ul>
<% @teacher.topics.each do |topic| %>
  <li><%= "#{topic.name}" %></li>
<% end %>
</ul>

<h2>Navigate by Question:</h2> 
<ul>
<% @teacher.questions.each do |question| %>
  <li><%= "#{question.prompt}" %></li>
<% end %>
</ul>


