<h2>Whoops, we couldn't find what you were looking for!</h2>

<a href=<%= "/teachers/#{@teacher.id}" %>>Return to Teacher Homepage</a><br>
<a href=<%= "/#{@teacher.username}/students" %>>Return to Students</a><br>
<a href=<%= "/#{@teacher.username}/questions" %>>Return to Questions</a><br>
<a href=<%= "/#{@teacher.username}/topics" %>>Return to Topics</a><br>


