<h2>Whoops, we couldn't find what you were looking for!</h2>

<a href=<%= "/teachers/#{@teacher.id}" %>>Return to Your Homepage</a><br>
<!--<a href=<%= "/#{@current_teacher.username}/students" %>>Return to Your Students</a><br>-->
<!--<a href=<%= "/#{@current_teacher.username}/questions" %>>Return Your Questions</a><br>-->
<!--<a href=<%= "/#{@current_teacher.username}/topics" %>>Return Your Topics</a><br>-->


